<h2>{{vacante.titulo}}</h2>
<section class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacante.empresa}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicación</p>
        <p class="nombre">{{vacante.ubicacion}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato</p>
        <p class="nombre">{{vacante.contrato}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salario</p>
        <p class="nombre">$ {{vacante.salario}}</p>
    </div>
</section>
<section class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción del Puesto</h2>
        <div class="vacante-descripcion">
            {{{vacante.descripcion}}}
        </div>
        <a href="/vacantes/editar/{{vacante.url}}" class="btn btn-vino editar-btn">Editar Vacante</a>
    </main>
    <aside class="sidebar">
        <h2>Conocimientos Deseados</h2>
        <ul class="skills">
            {{#each vacante.skills as | skill |}}
                <li>{{skill}}</li>
            {{/each}}
        </ul>
    </aside>
</section>
<section class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar Reclutador</h2>
        <p>Llena el siguiente formulario, sube tu curriculum y pronto te contactaremos.</p>
        <form action="/vacantes/{{vacante.url}}" method="POST" class="default-form" enctype="multipart/form-data">
            <div class="campo">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Tu Nombre">
            </div>
            <div class="campo">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Tu E-mail">
            </div>
            <div class="campo">
                <label for="cv">CV (PDF)</label>
                <input type="file" name="cv" id="cv">
            </div>
            <div class="campo">
                <input type="submit" value="Enviar" class="btn btn-vino">
            </div>
        </form>
    </div>
    <div class="info-reclutador">
        <h2>Informacion Reclutador</h2>
        {{#if vacante.autor.nombre}}
            <p>{{vacante.autor.nombre}}</p>
        {{/if}}
        {{#if vacante.autor.imagen}}
            <img src="/uploads/perfiles/{{vacante.autor.imagen}}" alt="imagen del reclutador">
        {{/if}}
    </div>
    
</section>